* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  width: 100%;
  height: 100vh;
  background: #E56262;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 400px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-1 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;

  animation-fill-mode: both;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1);
  }
}
/*===============================*/

.dot-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: indigo;
  z-index: 2;

  animation-fill-mode: both;
  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
     transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1);
  }
}
/*===============================*/

.dot-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: lightcoral;
  z-index: 3;

  animation-fill-mode: both;
  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1);
  }
}
/*===============================*/